 /*-------------------------------*/          
.view-img{
    padding-top: 2px;
    background-color: #e6eef9;
    
}
.heading_1{
    white-space: nowrap;
    overflow: hidden;
    width: 10em;
    
    animation: anim 4s infinite;
}



@media only screen and (min-width:340px){
    .herosection{
       padding: 30px 0px 0px 0px;
       
    }
}
/* @media screen and (max-width: 340px){
    span.firstcontent::after{
    content:"\a";
    white-space: pre-wrap;
}
} */






@media only screen and (min-width:340px){
    .heading{

       text-align: left;

     }
}
@media only screen and (min-width:340px){
    .content{

       text-align: center;
       font-weight: bold;
       font-size: 20px;
       

       
    }
}


/* @media only screen and (min-width:340px){
    
    div.buttons::before
    {
      
      padding-inline: center;
      margin-right: 30px;
      
     

    }
} */

/* .buttons::after{
     padding-inline: 35px;
     margin-right: 25px;
} */
/* .buttons::before{
    padding-inline: 35px;
    margin-right: 25px;
} */

/*--------------------------------*/
/* .heading_2{
    animation:  5s;
    cursor: pointer;
}
.heading_2:hover{
    font-size: 50px;
    font-size-adjust: 20px;
    color: head indigo;
} */

/* ---------------------- */
.content::before{
    color: black;
    /* position: absolute; */
    top: 50%;
    left: 8%;
    transform: translateY(10%);
    z-index: 2;
}

/* -------------------------------*/

.card{
    position: relative;
    width: 400px;
    height: 350px;
    background: url(../img/img1.jpg)
    center no-repeat;
    background-size: cover;
    border-radius:20px;
    z-index: 1;
    overflow: hidden;
    
    


}

.card::before,
.card::after{
    content:'';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60% + 35px);
    background-color: #fff;
    transition: transform .5s .25s ease-in;
    z-index: -1;
    


}
.card::before{
    top: 0;
    clip-path: polygon(0 0, 0 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.card::after{
    bottom: 0;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
}

.card_content{
    opacity: 0;
    transition: opacity .25s;
}

.card:hover::before,
.card:hover::after{
    transform: translateY(0);
}

.card:hover .card_content{
    opacity: 1;
    transition-delay: .75s;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.png);
    background-size:cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
/* buubles img */
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;


}

.bubbles{
    width: 100%;
    position: absolute;
    bottom: 0;
}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }

}

.bubbles img:nth-child(1){
    animation-delay: 2s;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
}